@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root{
    --color: #cc0000;
    --txt:#FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand' system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.form_header{
    margin-top:1.5rem;
}

.form_section{
    background-color:rgba(0, 0, 0, 0.5);
}

.left{
    padding-left:2rem;
}

form{
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    gap: 1rem;
    margin: 1.5rem 0rem;
}

label{
    position: relative;
    margin-bottom: .5rem;
    user-select: none;
}

p.submit_section{
    font-size: .5rem;
}

p.header{
    font-size: 1.8rem;
}

h1{
    font-size: 1.8rem;
}

button[type="submit"]{
    background-color:#D3C2CF;
    color:#61436d;
    padding: .5rem .8rem;
    border-radius: 5px;
    border:none;
    outline:none;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

input{
    margin: .2rem .2rem;
    padding: .1rem .1rem;
    border: 3px solid #61436d;
    outline: none;
    cursor: pointer;
    width: 70%;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.3rem;
}

input:focus{
    border: 3px solid var(--color);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-.1rem);
}

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar{
    background-image:url(./img/starrysky.jpg);
    background-size: cover;
    color: #FFFFFF;
    width: 40vw;
    height:100vh;
}


.header, .submit_section{
    margin: 2rem 1.5rem;
}

.sidebar_overlay{
    background-color:rgba(0, 0, 0, 0.7);
    position: relative;
    text-align: center;
    padding: 15px 0px;
    top: 25vh;
}

.right{
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color:#61436d;
    color: #D3C2CF;
}

.input{
    display: flex;
    flex-flow: column wrap;
    font-size: .65rem;
    justify-content: center;
    opacity: 50%;
    width: 40%;
    color:#FFFFFF;
}